$button-color: rgb(255, 78, 80);
$text-color: rgb(68, 68, 68);
$title-color: rgb(255, 255, 255);
$form-text-color: rgb(153, 153, 153);
$design-logo-title-color: rgb(204, 204, 204);
$art-icon-color: rgb(25, 212, 202);
$camera-icon-color: rgb(255, 167, 16);
$travel-icon-color: rgb(102, 125, 243);